@media (max-width: 1200px) {
  .container {
    --container-padding-x: 40px;
  }
  .studio {
    padding-top: initial;
    padding-bottom: initial;
    padding-block: 70px;

    &__footer {
      column-gap: 40px;

      &-column {
        max-width: 300px;
      }

      &-link {
        font-size: 20px;
      }
    }
  }
  .works {
    padding-left: 40px;
    padding-block: 80px;
  }
  .annotation {
    &__title {
      left: 40px;
      bottom: 40px;
      max-width: 510px;
    }
  }
  .team {
    &__grid {
      padding: 60px 10px;

      &-cell {
        &-people {
          padding-left: 10px;
        }
        &-subtitle {
          margin-bottom: 20px;
        }
      }
    }
  }
  .comments {
    padding-block: 60px;
    &__body {
      max-width: 600px;
    }
  }
}

@media (max-width: 992px) {
  .hero {
    &__slider {
      &-slide-description {
        right: initial;
        left: 50px;
        bottom: 50px;
        text-align: left;
      }
    }
  }
  .studio {
    &__header {
      flex-wrap: wrap;
      row-gap: 15px;
      padding-bottom: 20px;
      margin-bottom: 30px;

      &-wrapper {
        max-width: initial;
      }

      &-label {
        margin-bottom: 20px;
      }

      &-title {
        margin-bottom: 10px;
      }

      &-image {
        width: 100%;
      }
    }

    &__footer {
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 30px;
      column-gap: 10px;

      &-column {
        padding-block: 0;

        &:has(a) {
          max-width: initial;
          flex-basis: 100%;
        }
      }
    }
  }
  .team {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 250px;
      row-gap: 20px;
      padding-block: 20px;

      &-cell--jobs,
      &-cell--empty {
        order: 1;
      }
    }
  }
  .interviews {
    padding-block: 60px;

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
    }
  }
  .contact {
    padding-block: 100px;

    &__body {
      max-width: 600px;
      row-gap: 20px;
    }

    &__title {
      font-size: 30px;
    }
  }
  .footer {
    &__main {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    padding-inline: 10px;

    &__navbar {
      order: 1;
      flex-basis: 100%;

      &-list {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 7px;

        &-item:first-child::before {
          bottom: 0;
          top: initial;
          left: initial;
          width: 100%;
          height: 1px;
        }
      }
    }
  }
  .works {
    &__slider {
      width: 100%;

      &-button-next {
        right: 20px;
      }
      &-button-prev {
        right: calc(20px + 52px);
      }
    }

    &__info {
      bottom: -45px;
    }

    &__label {
      top: -20px;
    }
  }
  .comments {
    // padding-block: 30px;

    &__body {
      max-width: initial;
      padding-inline: 40px;
    }
    &__title {
      font-size: 18px;
    }
  }
  .contact {
    max-width: initial;
    padding-inline: 10px;
    padding-block: 60px;

    &__title {
      font-size: 25px;
    }
  }
  .footer {
    padding-top: 60px;

    &__column-title {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    --container-padding-x: 15px;
  }

  .hero {
    &__slider {
      &-slide-description {
        left: 10px;
      }
      &-pagination {
        left: 10px !important;
      }
    }
  }
  .studio {
    padding-block: 40px;

    &__header {
      padding-bottom: 5px;
      margin-bottom: 10px;

      &-title {
        font-size: 22px;
      }
    }

    &__footer {
      row-gap: 15px;

      &-column {
        &:has(a) {
          margin-bottom: 10px;
        }
        row-gap: 5px;
      }

      &-link {
        font-size: 16px;
      }

      &-title {
        font-size: 20px;
      }
    }
  }
  .works {
    padding-left: 10px;
    padding-block: 60px;
  }
  .annotation {
    &__title {
      left: 10px;
      bottom: 10px;
      max-width: 300px;
      font-size: 18px;
    }
  }
  .team {
    &__grid {
      grid-auto-rows: 150px;
    }
  }
  .interviews {
    padding-block: 20px;
    &__grid {
      grid-template-columns: 1fr;
      row-gap: 10px;

      &-cell {
        &-image {
          margin-bottom: 5px;
        }
        &-title {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
