:root {
  --color-light: #fff;
  --color-light-alternate: #e7e7da;
  --color-dark: #000;
  --color-dark-alternate: #d9d9ca;
  --color-light-2: #ece8e5;

  --font-family-base: "Nunito Sans", sans-serif;
  --font-family-alternate: "DM Sans", sans-serif;

  --transition-duration: 0.2s;
}
